html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    touch-action: none;
    user-select: none;
    -webkit-user-select: none;

    background: #007b6b;
}

#game {
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.screen {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    color: white;
    font-family: sans-serif;
    z-index: 100;
}

#startScreen {
    background: #007b6b;
}

#gameOverScreen {
    background: #18282b62;
}

#gameOverLayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px;
    background: #1c2d30eb;
    border-radius: 50px;
    border: solid 8px #526364;
}

.screen h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 100px;
}

.screen p {
    font-size: 60px;
}

.screen button {
    font-size: 80px;
    padding: 20px 60px;
}

.hidden {
    display: none;
}

#menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1720px;

    width: 940px;
    height: 160px;
    border-radius: 40px;
}

.menuButton {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 0;
    filter: brightness(1.0);
    border: none;

    cursor: pointer;
}

.menuButton:active {
    filter: brightness(0.7);
}

#homeButton {
    left: 200px;
    background: url("images/icon_home.png");
    background-size: 100% 100%;
}

#skipButton {
    right: 200px;
    background: url("images/icon_skip.png");
    background-size: 100% 100%;
}

#title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1570px;

    font-size: 100px;
    color: #efefef;
    font-family: sans-serif;
    z-index: 5;
}

#score {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75px;
    height: 0px;

    font-size: 100px;
    color: #efefef;
    font-family: sans-serif;
}

#board {
    position: absolute;
    top: 150px;

    background: #0f2e2e;
    border-radius:10px;
    border: solid 10px #0f2e2e;
    overflow: hidden;
    z-index: 0;
}

.pieces {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    cursor: pointer;

    border-radius: 30%;
    font-size: 100px;
    color: #e4e5e5;
    font-family: sans-serif;
    z-index: 1;
}

.lines {
    position: absolute;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 5;
}