html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    touch-action: none;
    user-select: none;
    -webkit-user-select: none;

    background: #18282b;
}

#game {
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    color: white;
    font-family: sans-serif;
    z-index: 100;
}

#startScreen {
    inset: 0;
    background: #18282b6c;
}

#gameOverScreen {
    width: 800px;
    height: 800px;

    background: #18282b7c;
    border: solid 5px #6c787a;
    border-radius: 30px;
}

.screen h1 {
    font-size: 100px;
}

.screen p {
    font-size: 60px;
}

.screen button {
    font-size: 80px;
    padding: 20px 60px;
}

.hidden {
    display: none;
}

#title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1600px;

    font-size: 120px;
    color: #e4e5e5;
    font-family: sans-serif;
}

#score {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 500px;

    font-size: 480px;
    color: #474747;
    font-family: sans-serif;
}

#board {
    position: absolute;
    top: 20px;
}

.pieces {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    cursor: pointer;

    border-radius: 30%;
    font-size: 100px;
    color: #e4e5e5;
    font-family: sans-serif;
}

.lines {
    position: absolute;
    transform: translate(-50%, -50%);
    background: #e4e5e5;
}
